{#<div class="card">#}

    <div class="container">

        <article>

            <div class="content">
                <div class="modal is-active">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <header class="modal-card-head">
                            <p id="article_title" class="modal-card-title title"></p>
                            <button id="exitProject" class="delete close-modal is-danger" aria-label="close"></button>
                        </header>
                        <section class="modal-card-body">
                            <article>
                                <div class="">
                                    <figure class="image is-512x512">
                                        <img id="article_image" src="https://picsum.photos/id/512/512">
                                    </figure>
                                </div>
                                <div class="">
                                    <p id="article_body" class="content has-text-justified"></p>
                                </div>
                            </article>
                        </section>
                        <footer class="modal-card-foot">
                        </footer>
                    </div>
                </div>
            </div>
        </article>
    </div>
{#</div>#}