<div class="is-rounded is-fixed-bottom is-pulled-right">

    <div class="content">

        <article class="tile notification is-warning">

            <p class="has-text-black">
                {{ 'info.subtitle1.label'|trans }}<a href="mail:{{ mail }}" target="_blank" rel="noopener">@me</a><br />
                {{ 'info.subtitle2.label'|trans }}<a href="https://www.mixamo.com/" target="_blank" rel="noopener">Mixamo</a><br />

                <a href="http://threejs.org" target="_blank" rel="noopener">#three.js</a>
                <a href="https://www.google.com?q=Syntactically Awesome Style Sheets" target="_blank">#sass</a>
                <a href="https://www.google.com?q=dev" target="_blank">#dev</a>
                <a href="https://www.google.com?q=symfony" target="_blank">#symfony</a>
                <a href="https://www.google.com?q=Apiplateform" target="_blank">#apiplateform</a>
                <a href="https://www.google.com?q=ReactAdmin" target="_blank">#reactadmin</a>
                <a href="https://www.google.com?q=Cloud" target="_blank">#cloud</a>
                <a href="https://www.google.com?q=mobile" target="_blank">#mobile</a>
                <a href="https://www.google.com?q=Iot" target="_blank">#iot</a>
                <a href="https://www.google.com?q=Développeur full stack" target="_blank">#fullstack</a>

                <br />

                <i class="fas fa-music"></i>
                <a id="music#1" href="#">#1</a>
                <a id="music#2" href="#">#2</a>
                <a id="music#3" href="#">#3</a>
                <a id="music#4" href="#">#4</a>

                <i class="fas fa-user-ninja"></i>
                <a id="dance#1" href="#">#1</a>
                <a id="dance#2" href="#">#2</a>
                <a id="dance#3" href="#">#3</a>
                <a id="dance#4" href="#">#4</a>
                v{{ version }}
            </p>


        </article>

    </div>

</div>