<div class="is-rounded is-fixed-bottom is-pulled-right">

    <div class="content">

        <article class="tile notification is-warning">

            <p class="has-text-black">
                {{ 'info.subtitle1.label'|trans }}<a href="mail:{{ mail }}" target="_blank" rel="noopener">@me</a><br />
                {{ 'info.subtitle2.label'|trans }}<a href="https://www.mixamo.com/" target="_blank" rel="noopener">Mixamo</a><br />

                <a href="http://threejs.org" target="_blank" rel="noopener">#three.js</a>
                <a href="https://www.google.com?q=Syntactically Awesome Style Sheets" target="_blank">#sass</a>
                <a href="https://www.google.com?q=dev" target="_blank">#dev</a>
                <a href="https://www.google.com?q=symfony" target="_blank">#symfony</a>
                <a href="https://www.google.com?q=Apiplateform" target="_blank">#apiplateform</a>
                <a href="https://www.google.com?q=ReactAdmin" target="_blank">#reactadmin</a>
                <a href="https://www.google.com?q=Cloud" target="_blank">#cloud</a>
                <a href="https://www.google.com?q=mobile" target="_blank">#mobile</a>
                <a href="https://www.google.com?q=Iot" target="_blank">#iot</a>
                <a href="https://www.google.com?q=Développeur full stack" target="_blank">#fullstack</a>
            </p>

        </article>

    </div>

</div>