<div class="is-rounded is-fixed-bottom is-pulled-right">

    <div class="content">

        <article class="tile notification is-warning">

            <p class="has-text-black">
                {{ 'info.subtitle1.label'|trans }}<a href="mail:mouss38@gmail.com" target="_blank" rel="noopener">@me</a><br />
                {{ 'info.subtitle2.label'|trans }}<a href="https://www.mixamo.com/" target="_blank" rel="noopener">Mixamo</a><br />

                <a href="http://threejs.org" target="_blank" rel="noopener">#three.js</a>
                <a href="#">#sass</a>
                <a href="#">#dev</a>
                <a href="#">#symfony</a>
                <a href="#">#apiplateform</a>
                <a href="#">#reactadmin</a>
                <a href="#">#cloud</a>
                <a href="#">#mobile</a>
                <a href="#">#iot</a>
                <a href="#">#fullstack</a>
            </p>

        </article>

    </div>

</div>