{#<div id="loading" class="section is-center">#}
{#    {% include 'Components/loading.html.twig' %}#}
{#</div>#}

<div id="card" class="card tile is-4" >
    {% include 'Home/card.html.twig' %}
</div>

{#<div id="exit" class="tile is-1">#}
{#    {% include 'Components/exit.html.twig' %}#}
{#</div>#}

<div id="contact" class="section is-fullwidth is-center">
    {% include 'Home/contact.html.twig' %}
</div>

<div id="resumes" class="section">
    {% include 'Home/resume.html.twig' %}
</div>

{#<div id="project" class="columns is-multiline is-mobile">#}
{#    <div class="column is-1"></div>#}
{#    <div class="column">#}
{#        {% include 'Home/project.html.twig' %}#}
{#    </div>#}
{#    <div class="column is-1"></div>#}
{#</div>#}

<div id="info" class="info is-pulled-right">
    {% include 'Home/info.html.twig' %}
</div>
