<div id="loading" class="is-full is-center">
    {% include 'Components/loading.html.twig' %}
</div>

<div id="card" class="card tile is-5" >
    {% include 'Home/card.html.twig' %}
</div>

<div id="contact" class="is-fullwidth is-centered is-vertical-center">
    {% include 'Home/contact.html.twig' %}
</div>

<div id="resume" class="is-fullwidth is-centered is-vertical-center">
    {% include 'Home/resume.html.twig' %}
</div>

<div id="article" class="is-fullwidth is-centered is-vertical-center">
    {% include 'Home/article.html.twig' %}
</div>

<div id="modals">
    {% include 'Home/modal.html.twig' %}
</div>

<div id="info" class="info is-pulled-right">
    {% include 'Home/info.html.twig' %}
</div>

<div id="billboardResume" class="notification is-info">
    <div class="is-primary">
        <p id="billboardResumeBody">
            {{ 'billboard.resume.label'|trans }}
        </p>
    </div>
</div>

<div id="billboardContact" class="notification is-info">
    <div class="is-primary">
        <p id="billboardContactBody">
            {{ 'billboard.contact.label'|trans }}
        </p>
    </div>
</div>

<div id="billboardProject" class="notification is-info">
    <div class="is-primary">
        <p id="billboardProjectBody">
            {{ 'billboard.project.label'|trans }}
        </p>
    </div>
</div>

<div id="alert" class="container is-full">
    <div class="content">
        <div class="notification is-info">
            <p class="has-text-centered">
                <i class="fas fa-bomb"></i>
                {{ 'alert.label'|trans }}
            </p>
        </div>
    </div>
</div>
