{#<div class="tiles is-ancestor">#}
{#    <div class="tile is-vertical is-8">#}
{#        {% include 'Home/card.html.twig' %}#}
{#    </div>#}
{#    <div class="tile right--1 is-vertical is-4">#}

{#        <div class="tile">#}
{#            <article class="tile  is-parentnotification is-success">#}
{#                <div class="content">#}
{#                    <p class="title">ContactdMe</p>#}

{#                    <div class="dropdown is-active">#}
{#                        <div class="dropdown-trigger">#}
{#                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">#}
{#                                <span>Dropdown button</span>#}
{#                                <span class="icon is-small">#}
{#                                    <i class="fas fa-angle-down" aria-hidden="true"></i>#}
{#                                </span>#}
{#                            </button>#}
{#                        </div>#}
{#                        <div class="dropdown-menu" id="dropdown-menu" role="menu">#}
{#                            <div class="dropdown-content">#}
{#                                <a href="#" class="dropdown-item">#}
{#                                    Dropdown item#}
{#                                </a>#}
{#                                <a class="dropdown-item">#}
{#                                    Other dropdown item#}
{#                                </a>#}
{#                                <a href="#" class="dropdown-item is-active">#}
{#                                    Active dropdown item#}
{#                                </a>#}
{#                                <a href="#" class="dropdown-item">#}
{#                                    Other dropdown item#}
{#                                </a>#}
{#                                <hr class="dropdown-divider">#}
{#                                <a href="#" class="dropdown-item">#}
{#                                    With a divider#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

{#                </div>#}
{#            </article>#}
{#        </div>#}

{#        <div class="tile">#}
{#            <article class="tile  is-parentnotification is-success">#}
{#                <div class="content">#}
{#                    <p class="title">Contacts Me</p>#}
{#                    <p class="subtitle">#}
{#                    <div class="dropdown is-active">#}
{#                        <div class="dropdown-trigger">#}
{#                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">#}
{#                                <span>Dropdown button</span>#}
{#                                <span class="icon is-small">#}
{#                                    <i class="fas fa-angle-down" aria-hidden="true"></i>#}
{#                                </span>#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}

{#                            <div class="select is-multiple">#}
{#                                <select id="type" multiple size="1">#}
{#                                    <option>Select dropdown</option>#}
{#                                    <option>FullStack</option>#}
{#                                    <option>BackEnd</option>#}
{#                                    <option>LeadDev</option>#}
{#                                </select>#}
{#                            </div>#}

{#                            <div class="select">#}
{#                                <select type="contract" size="1">#}
{#                                    <option>Select dropdown</option>#}
{#                                    <option>Freelance</option>#}
{#                                    <option>CDI</option>#}
{#                                </select>#}
{#                            </div>#}

{#                            <div class="select is-multiple">#}
{#                                <select type="technos" size="1">#}
{#                                    <option>Select dropdown</option>#}
{#                                    <option>PHP 7</option>#}
{#                                    <option>Symfony 4</option>#}
{#                                    <option>React</option>#}
{#                                    <option>Elasticsearch</option>#}
{#                                    <option>Docker</option>#}
{#                                    <option>AMQP</option>#}
{#                                    <option>Nodejs</option>#}
{#                                    <option>Vagrant</option>#}
{#                                </select>#}
{#                            </div>#}

{#                    <div class="dropdown">#}
{#                        <div class="dropdown-trigger">#}
{#                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">#}
{#                                <span>Click me</span>#}
{#                                <span class="icon is-small">#}
{#        <i class="fas fa-angle-down" aria-hidden="true"></i>#}
{#      </span>#}
{#                            </button>#}
{#                        </div>#}
{#                        <div class="dropdown-menu" id="dropdown-menu3" role="menu">#}
{#                            <div class="dropdown-content">#}
{#                                <a href="#" class="dropdown-item">#}
{#                                    Overview#}
{#                                </a>#}
{#                                <a href="#" class="dropdown-item">#}
{#                                    Modifiers#}
{#                                </a>#}
{#                                <a href="#" class="dropdown-item">#}
{#                                    Grid#}
{#                                </a>#}
{#                                <a href="#" class="dropdown-item">#}
{#                                    Form#}
{#                                </a>#}
{#                                <a href="#" class="dropdown-item">#}
{#                                    Elements#}
{#                                </a>#}
{#                                <a href="#" class="dropdown-item">#}
{#                                    Components#}
{#                                </a>#}
{#                                <a href="#" class="dropdown-item">#}
{#                                    Layout#}
{#                                </a>#}
{#                                <hr class="dropdown-divider">#}
{#                                <a href="#" class="dropdown-item">#}
{#                                    More#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

{#                    <div class="dropdown is-hoverable">#}
{#                        <div class="dropdown-trigger">#}
{#                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">#}
{#                                <span>Hover me</span>#}
{#                                <span class="icon is-small">#}
{#                                    <i class="fas fa-angle-down" aria-hidden="true"></i>#}
{#                                </span>#}
{#                            </button>#}
{#                        </div>#}
{#                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">#}
{#                            <div class="dropdown-content">#}
{#                                <div class="dropdown-item">#}
{#                                    <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

{#                    </p>#}
{#                    <div class="content">#}
{#                        <!-- Content -->#}
{#                    </div>#}
{#                </div>#}
{#            </article>#}
{#        </div>#}
{#    </div>#}
{#</div>#}