<div class="content">
    <div class="container">
        <div class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p id="project_title" class="modal-card-title title"></p>
                    <button id="exitProject" class="delete close-modal is-danger" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <article>
                        <div class="">
                            <figure class="image is-512x512">
                                <img id="project_image" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>

{#                            <p  class="content has-text-justified">#}
{#                                <img id="project_image" class="is-" src="" />#}
{#                            </p>#}
                        </div>
                        <div class="">
                            <p id="project_body" class="content has-text-justified"></p>
                        </div>
                    </article>
                </section>
                <footer class="modal-card-foot">
                </footer>
            </div>
        </div>
    </div>
</div>