env: dev
name: dev
repo: karimmoussouni
ip: 192.168.99.100
box: "huzhenghui/CentOS-7-vbguest"
user: vagrant
host: dev.karimmoussouni
vm_user: vagrant
driver: virtualbox
vm_path: /vagrant
app_path: "."
src_path: "/var/www/symfony"
port: 80
memory: "4096"
cpus: "3"
