{% extends 'base.html.twig' %}

{% block content %}
    {{ react_component('App', {'props': props, 'rendering': 'client_side'}) }}
    <div class="notification">
        This container is <strong>centered</strong> on desktop.
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/vendors~js/App.min.js') }}"></script>
    <script src="{{ asset('build/js/App.min.js') }}"></script>
{% endblock %}