@import "~bulma/bulma";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~flag-icon-css/css/flag-icon.min.css";

$slightgray: 'slightgray';
$background: '#00ff00';
// resume
$theme: #00d1b2;
$grey: #b5b5b5;

body {
  background-color: $background;
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  z-index: 10;
  pointer-events: initial;
}

.is-vertical-center {
  width: 100% !important;
  max-width: 100% !important;
  display: flex;
  align-items: center;
}

#info {
  display: block;
  position: absolute;
  right: 0px;
  height: 132px;
  bottom: 0px;
  z-index: 10;
}

#card {
  display: none;
}

#resume {
  display: none;
}

#contact {
  display: none;
}

#article {
  display: none;
}

#modal {
  display: none;
}

#billboardResume {
  display: none;
  position: absolute;
  z-index: 10;
}

#billboardContact {
  display: none;
  position: absolute;
  z-index: 10;
}

#billboardProject {
  display: none;
  position: absolute;
  z-index: 10;
}

#alert {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
}

//////////////////////////////////////////////////
// Canvas
//////////////////////////////////////////////////
#root {
  top: 0px !important;
}

//////////////////////////////////////////////////
// resume
//////////////////////////////////////////////////
.line {
  height: 10px;
}

.hr{
  border-bottom: 10px solid $theme;
  margin: 0 1.5rem;
}

.section{
  padding: 3rem 1.5rem 1rem;
}

.summary, .experience, .education, .projects, .skills, .awards, .languages{
  margin-bottom: 1.5rem;

.title{
    padding: .5em 0;
    border-bottom: 1px solid $theme;
  }
}

.experience, .education, .projects, .skills, .awards{
  .item{
    padding: .5em 0;
  }
}

.profile {
  .image{
    margin: 0 auto;
  }
  svg{
    fill: $grey;
  }
}

.social-icon{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a{
    display: flex;
    align-items: center;
  }
  svg{
    height: 2rem;
    width: 2rem;
  }
}

.footer{
  padding: 3rem 1.5rem 1rem;
}

/* Query for mobile only*/
@media screen and (max-width: 768px) and (orientation: landscape) {
  .profile {
    text-align: center;
  }
  .social-icon{
    justify-content: center;
  }
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

/* Query for desktop only*/
@media screen and (min-width: 1023px){
  .has-text-right-in-desktop {
    text-align: right;
  }
}

/* Query for print only*/
@media print and (min-width: 1023px){
  .has-text-right-in-desktop {
    text-align: right;
  }
}

