<div class="header-content">
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container has-text-centered" style="font-family: 'Rock Salt', cursive;">
                <h1 class="title is-1 is-spaced">
                {{ 'blog.title'|trans }}<br />
                </h1>
                <h3 class="subtitle is-spaced is-3">
                    <i>... {{ 'blog.subtitle'|trans }}</i>
                </h3>
            </div>
        </div>
    </section>
</div>