<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">

    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <meta name="description" content="Karim Moussouni Web Site">
            <meta name="author" content="Karim Moussouni">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">

            <meta name="robots" content="noindex">

            <link rel="shortcut icon" type="image/png" sizes="32x32" href="/favicon.ico">

            <title>{% block title %}{% endblock %}</title>

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

            {% block stylesheets %}
                <link href="{{ asset('build/css/App.min.css') }}" rel="stylesheet" />
            {% endblock %}
        {% endblock %}
    </head>

    <body>
        <div class="container">
    {#    <div class="container is-desktop is-mobile is-centered">#}
            {% block content %}{% endblock %}
    {#        <div class="notification">#}
    {#            This container is <strong>centered</strong> on desktop.#}
    {#        </div>#}
        </div>
    </body>

    {% block javascripts %}
        <script src="{{ asset('build/runtime.js') }}"></script>
    {% endblock %}
</html>
