<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Karim Moussouni Web Portal">
        <meta name="author" content="Karim Moussouni">

        <link href="{{ asset('/build/css/app.min.css') }}" rel="stylesheet" />

        <!-- Custom fonts for this template -->
{#        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">#}
{#        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">#}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        {% endblock %}
    </head>

    <body>
            <div class="container">
                {% block body %}{% endblock %}
            </div>
            <div id="root"></div>
    </body>

    {% block javascripts %}
    {% endblock %}
</html>
