{#<div class="card">#}
{#    <div class="card-content">#}
        <p>
            <i id="exit{{ context|capitalize }}" class="fas fa-times-circle fa-stack-1x fa-ban fa-stack-2x has-text-danger"></i>
        </p>
{#    </div>#}
{#</div>#}