<div class="container is-vertical-center">
    <div class="content is-vertical-center is-full">
        <div class="section">
                <div class="title is-medium">{{ 'loading.title'|trans }}</div>
                <progress id="progress" class="progress is-danger is-large" value="90" max="100"></progress>
            </div>
        </div>
</div>
