<section class="section">
    <div class="container is-vcentered">
{#        <h1 class="title">Section</h1>#}
{#        <h2 class="subtitle">#}
{#            A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading#}
{#        </h2>#}
        <div class="title is-medium">Loading</div>
        <progress class="progress is-danger is-large" value="90" max="100">90%</progress>
{#        <i class="fas fa-spinner fa-pulse fa-stack-1x fa-ban fa-stack-2x has-text-danger"></i>#}
    </div>
</section>

{#<div class="">#}
{#    <span class="icon is-large">#}
{#        <span class="fa-stack fa-lg">#}
{#        </span>#}
{#    </span>#}
{#</div>#}
