<div class="tile">
    <span class="icon is-large">
        <span class="fa-stack fa-lg">
            <i class="fas fa-spinner fa-pulse fa-stack-1x fa-ban fa-stack-2x has-text-danger"></i>
        </span>
    </span>
</div>
